<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>لطش</mat-label>
    <input type="number" [(ngModel)]="latesh" name="latesh" matInput>
    @if (latesh) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="latesh=null">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>دينار</mat-label>
    <input type="number" [(ngModel)]="denar" name="denar" matInput>
    @if (denar) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="denar=null">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>بنات</mat-label>
    <input type="number" [(ngModel)]="banatOn" name="banatOn" matInput>
    @if (banatOn) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="banatOn=null">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>بنات دبل</mat-label>
    <input type="number" [(ngModel)]="banatOnDouble" name="banatOnDouble" matInput>
    @if (banatOnDouble) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="banatOnDouble=null">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>بنات له</mat-label>
    <input type="number" [(ngModel)]="banatFor" name="banatFor" matInput>
    @if (banatFor) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="banatFor=null">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <div class="flex">
    <mat-form-field class="example-full-width">
      <mat-label>ختيار</mat-label>
      <input type="number" [(ngModel)]="khetearOn" name="khetearOn" matInput>
      @if (khetearOn) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="khetearOn=null">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  
    <mat-checkbox class="example-margin" name="checked" [(ngModel)]="checked">دبل</mat-checkbox>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>ختيار له</mat-label>
    <input type="number" [(ngModel)]="khetearFor" name="khetearOn" matInput>
    @if (khetearFor) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="khetearFor=null">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Old Score</mat-label>
    <input type="number" [(ngModel)]="oldScore" name="oldScore" matInput>
    @if (oldScore) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="oldScore=null">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  @if (summe()) {
    <div class="example-full-width summe">
      <p>
        {{ 'SUMME: ' + summe() }}
      </p>
    </div>
  }
</form>

<router-outlet></router-outlet>